<nav class="navbar navbar-expand-sm navbar-light navbar-static-top d-flex justify-content-start align-items-center d-print-none" style="background-color:#efefef;">
    <a class="navbar-brand" href="{{site.ROOT_PREFIX}}">
        <img alt="FileFormat.Info Logo" class="navbar-logo d-none d-md-inline" src="{{site.ROOT_PREFIX}}favicon.svg">
        <img alt="FileFormat.Info Wordmark" class="mb-1" src="https://www.fileformat.info/images/header/logo_wide.png" />
    </a>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark d-flex py-0" style="background-color: #336699;">
    <div class="flex-grow-1">
        <form action="{{site.ROOT_PREFIX}}search/search.htm" class="form-inline my-2 my-lg-0">
            <div class="input-group input-group-sm">
                <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search" />
                <div class="input-group-append">
                    <button class="btn btn-light border-left" type="button" id="button-addon2">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <span class="navbar-text text-light px-1">
            You are in
        </span>
        <a class="navbar-link pr-1" href="{{site.ROOT_PREFIX}}index.dir"><img height="16" width="16"
                style="vertical-align:middle" border="0" src="{{site.ROOT_PREFIX}}images/16x16/t-folder.png"
                alt="Browse directory" title="Browse directory" /></a>
        <a class="navbar-link text-white" href="{{site.ROOT_PREFIX}}index.htm">FileFormat.Info</a>
        <span class="navbar-text text-light px-2">&raquo;</span>
        <a class="navbar-link pr-1" href="{{site.ROOT_PREFIX}}format/index.dir"><img height="16" width="16"
                style="vertical-align:middle" border="0" src="{{site.ROOT_PREFIX}}images/16x16/t-folder.png"
                alt="Browse directory" title="Browse directory" /></a>
        <a class="navbar-link text-white" href="{{site.ROOT_PREFIX}}format/index.htm">Specific Formats</a>
        <span class="navbar-text text-light px-2">&raquo;</span>
        <a class="navbar-link pr-1" href="files.html"><img height="16" width="16" style="vertical-align:middle"
                border="0" src="{{site.ROOT_PREFIX}}images/16x16/t-folder.png" alt="Browse directory"
                title="Browse directory" /></a>
        <a class="navbar-link text-white" href="index.html">{{site.format_title}}</a>
    </div>
</nav>
