<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{page.title}} - FileFormat.Info</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
    .navbar-logo {
        height: 2.5rem;
        margin-top: -12px;
        padding-right: 8px;
    }

    .navbar-brand {
        font-family: 'Sansita', sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 1.65rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-link {
        font-weight: bold;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }

    h1 {
        margin-top: 21px;
    }

    /* hide outline on a clicked tab */
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        outline: 0;
    }

    .navbar {
        background: #f2f2f2;
    }

</style>
<script>if (window.top.location != window.location) { window.top.location.href = document.location.href; }</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/48de122c1b.js" crossorigin="anonymous"></script>
